<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find agribot_describtion)/urdf/agribot_describtion.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    required="true"
    args="-d $(find agribot_describtion)/rviz/agribot.rviz" />
</launch>